html, body {
	font-family: Consolas, monaco, monospace;
}

.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */

	display: flex;
	align-items: center;
}

#url {
	box-shadow:
	0 0 20px black,
	20px 15px 30px yellow,
	-20px 15px 30px lime,
	-20px -15px 30px blue,
	20px -15px 30px red;
}

#liste {
	margin-top: 50px;
}